<% if !@subpages.empty? %>
  <div id='subnav'>
    <ul>
      <% for page in @subpages %>
        <li><%= link_to page.tab, view_page_path(page.name) %></li>
      <% end %>
  </div>
<% elsif @page.parent %>
  <div id='subnav'>
    <ul>
      <li><%= link_to "Return to #{@page.parent.tab}",
              view_page_path(@page.parent.name) %>
      </li>
    </ul>
  </div>
<% end %>

<%= @page.body %>
